<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
        <title>{{ page.title }}</title>
	</head>	
	<body>
		<div class="toolbar" class="center">
            <p><a href="/">home</a></p> 
			<span>&#183;</span> 
			<p><a href="/about.html">about</a></p>
			<span>&#183;</span> 
			<p><a>projects</a></p>
			<span>&#183;</span> 
			<p><a>media</a></p>
			<span>&#183;</span> 
			<p><a>hobbies</a></p>
			<span>&#183;</span> 
			<p><a>resume</a></p>
		</div>
		<hr noshade>
        <div class="content">
		{{ content }}
        </div>
		<footer>
			<hr noshade>
			<a href="mailto:kylehu2000@gmail.com">email</a>
			<span>&#183;</span> 
			<a href="https://github.com/falafel72">github</a>
		</footer>
	</body>
</html>